<!-- Menu -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'menu' %}" >Menu principal</a></li>
        <li><a class="navbar-brand" href="{% url 'consulta' %}">Informações</a></li>
        <!--li><a class="navbar-brand" href="{% url 'controle' %}">Informações</a></li-->
        <li><a class="navbar-brand" href="{% url 'demos_sessions' %}">Login</a></li>

        <li class="dropdown">
          <!--a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
          <ul class="dropdown-menu">
           <li><a>Create band</a></li>
           <li><a>Create member</a></li>
          </ul-->
        </li>
      </ul>
    </div>
  </div>
</div>

