{% extends 'apontamento/base.html' %}
{% block content %}
{% load widget_tweaks %}
	<h1>Controle de apontamento</h1>
	{% if ordem is None %}
		<form role="form" method="post">
			{% csrf_token %}
			{% for hidden_field in form.hidden_fields %}
    			{{ hidden_field }}
  			{% endfor %}

  			{% if form.non_field_errors %}
    			<div class="alert alert-danger" role="alert">
					{% for error in form.non_field_errors %}
						{{ error }}
      				{% endfor %}
    			</div>
  			{% endif %}

  			{% for field in form.visible_fields %}
    			<div class="form-group">
      				{{ field.label_tag }}
      				{% if form.is_bound %}
						{% if field.errors %}
							{% render_field field class="form-control is-invalid" %}
          					{% for error in field.errors %}
            					<div class="invalid-feedback">
              						{{ error }}
            					</div>
          					{% endfor %}
        				{% else %}
          					{% render_field field class="form-control is-valid" %}
        				{% endif %}
      				{% else %}
        				{% render_field field class="form-control" %}
      				{% endif %}

      				{% if field.help_text %}
        				<small class="form-text text-muted">{{ field.help_text }}</small>
      				{% endif %}
    			</div>
  			{% endfor %}
  			<button type="submit" class="btn btn-primary">Iniciar</button>
		</form>
	{% else %}
		<!--h3>Welcome you are signed in as {{ usuario }}</h3-->
		<h1>
			<div class="alert alert-primary" role="alert">
				 Ordem em Execução: {{ ord_in_codigo }}
				 <div>
					<button type="button" class="btn btn-light" disabled style="width:800"></button>
                                    <a class="btn btn-primary btn-lg active" style="width:200" role="button" aria-pressed="true" href="{% url "impressora" %}?action=impressora">Trocar Impressora</a>
				</div>
			</div>
		</h1>
		<a class="btn btn-primary btn-lg active" style="width:150" role="button" aria-pressed="true" href="{% url "incluir_lote" %}?action=apontamento">Continuar</a>
		<button type="button" class="btn btn-light" disabled></button>
	    <a class="btn btn-primary btn-lg active" style="width:150" role="button" aria-pressed="true" href="{% url "demos_sessions" %}?action=logout">Encerrar</a>
		<button type="button" class="btn btn-light" disabled></button>
        <a class="btn btn-primary btn-lg active" style="width:150" role="button" aria-pressed="true" href="{% url "demos_sessions" %}?action=trocar">Trocar Ordem</a>
		<button type="button" class="btn btn-light" disabled></button>
        <a class="btn btn-primary btn-lg active" style="width:150" role="button" aria-pressed="true" href="{% url "menu" %}?action=retornar">Voltar</a>
	{% endif %}
{% endblock %}

{% block js %}
    {% include "apontamento/js_html/js_onEnter.html" %}
{% endblock %}
