asgiref
asn1crypto
certifi
cffi
charset-normalizer
cryptography
defusedxml
distlib
Django
django-bootstrap
django-bootstrap-icons
django-filter
django-forms-bootstrap
django-widget-tweaks
djangorestframework
enum34
getmac
gunicorn
idna
importlib_metadata
ipaddress
jaraco.classes
jaraco.context
jaraco.functools
jeepney
jsonfield
keyring
keyrings.alt
Mako
Markdown
MarkupSafe
more-itertools
netifaces
numpy
oracledb
packaging
pandas
pip-review
psycopg2
pycparser
pyparsing
python-dateutil
pytz
pywin32-ctypes
pyxdg
PyYAML
query-string
requests
SecretStorage
setuptools
six
sqlparse
tzdata
urllib3
zipp