<script>
      $('#id_pro_in_codigo').on('change', function() {
         getItem();
      });
      function getItem() {
          var checkBox = document.getElementById("myCheck");
          var v_http;
          var v_item;
          var v_loc;
          var v_get;
          var v_json;
          var v_args;
          var v_Return;
          var mydata;
          var v_postdata;
          var v_padrao;
          var v_ip;
          v_ip = '192.168.0.24'
          v_http = 'https://'+v_ip+'/est/produtos/?codigo='
          v_item = $("#id_pro_in_codigo").val();
          v_get = v_http.concat(v_item);
          v_get = v_get.concat('&padrao=');
          v_padrao = 1;
          v_get = v_get.concat(v_padrao);
          v_json = httpGet(v_get);          
          if (v_json == '[]') {
              //Busca o cadastro do item;              
              v_http = 'https://'+v_ip+'/api/GetCadastroItens/?codigo='
              v_get = v_http.concat(v_item);
              v_get = v_get.concat('&padrao=');
              v_get = v_get.concat(v_padrao);
              v_json = httpGet(v_get);
              mydata = JSON.parse(v_json);
              v_http = 'https://'+v_ip+'/est/produtos/'
              for (var i = 0, len = mydata.length; i < len; ++i) {
                  v_postdata = mydata[i];
                  v_Return = httpPost(v_http, v_postdata);
              }
          }
      }
      function httpGet(theUrl) {
          let xmlHttpReq = new XMLHttpRequest();
           xmlHttpReq.open("GET", theUrl, false);
           xmlHttpReq.send(null);
           return xmlHttpReq.responseText;
      }
      function httpPost(theUrl,data) {
          let xmlHttpReq = new XMLHttpRequest();
           xmlHttpReq.open("POST", theUrl, true);
           xmlHttpReq.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
           xmlHttpReq.send(JSON.stringify(data));
           return xmlHttpReq.responseText;
      }
 </script>
