{% extends 'almoxarifado/base_almoxa.html' %}
{% block content %}
    <h3>Manutenção de integração de dados</h3>
    <a class="btn btn-primary btn-lg active" style="width:200" role="button" aria-pressed="true" href="?action=IntCCusto">Baixar C. Custos</a>
    <button type="button" class="btn btn-light" disabled></button>
    <a class="btn btn-primary btn-lg active" style="width:200" role="button" aria-pressed="true" href="?action=GetProdutos">Baixar Produtos</a>
    <button type="button" class="btn btn-light" disabled></button>
    <a class="btn btn-primary btn-lg active" style="width:200" role="button" aria-pressed="true" href="?action=IntRequisicao">Integrar Requisição</a>
{% endblock  %}
