{% block js %}
<script>
     var filial = "{{fil_in_codigo}}";
     var v_ip = '127.0.0.1:8000';
     var v_http;
     var v_get;
     var v_json;
     var v_Return;   
      $(document).ready(function() {
          criaButton();
          //atribui_valor();
          function atribui_valor(){
              value_default = 100
              $("#id_dem_re_qtdlote").val(value_default);
          };
          function criaButton() {
            var html  = '<span class="input-group-btn">';			
            html += '<button class="btn btn-default nmpd-target" id="id_orl_re_qtdlote" type="button" readonly="readonly" data-numpad="nmpd3"><i class="glyphicon glyphicon-th"></i></button>'
            html += '</span>';
            $("#id_dem_re_qtdlote").append(html)
	      };
          //$('[data-toggle="tooltip"]').tooltip();
          //$('[data-toggle="popover"]').popover();
          //$('#search').keynumpad({
          //   trigger:  '#search'
          //   }
          //);
          $.fn.numpad.defaults.gridTpl = '<table class="table modal-content"></table>';
		  $.fn.numpad.defaults.backgroundTpl = '<div class="modal-backdrop in"></div>';
		  $.fn.numpad.defaults.displayTpl = '<input type="text" class="form-control" />';
		  $.fn.numpad.defaults.buttonNumberTpl =  '<button type="button" class="btn btn-default"></button>';
		  $.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn" style="width: 100%;"></button>';
		  $.fn.numpad.defaults.onKeypadCreate = function(){$(this).find('.done').addClass('btn-primary');};

		  $.fn.numKey.defaults.gridTpl = '<table class="table modal-content"></table>';
		  $.fn.numKey.defaults.backgroundTpl = '<div class="modal-backdrop in"></div>';
		  $.fn.numKey.defaults.displayTpl = '<input type="text" class="form-control" />';
		  $.fn.numKey.defaults.buttonNumberTpl =  '<button type="button" class="btn btn-default"></button>';
		  $.fn.numKey.defaults.buttonFunctionTpl = '<button type="button" class="btn" style="width: 100%;"></button>';
		  $.fn.numKey.defaults.onKeypadCreate = function(){$(this).find('.done').addClass('btn-primary');};

		  $('#numpadButton-btn').numpad({
		      target: $('#numpadButton')
		  });
		  $('#search-btn').numKey({
		      target: $('#search')
		  });

          //$('#id_dem_re_qtdlote').numpad();
          //$('#search').numpad();
           $('#search').keyup(function(){		   
                var term = $(this).val();
				//alert("Hello! I am an alert box!!");
               if(term =='')
                     {
                          term = '@';
                     }
               search_table(term);
           });
           $('#search').on('change', function() {
               search_table($(this).val());
           });
           function search_table(value){
                $('#table_demanda tr').each(function(){
                     var found = 'false';					 
                     $(this).each(function(){
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                          {
                               found = 'true';
                          }
                     });
                     if(found == 'true')
                     {
                          $(this).show();
                     }
                     else
                     {
                          $(this).hide();
                     }
                });
           }
           $('input').keypress(function (e) {
                var code = null;
                code = (e.keyCode ? e.keyCode : e.which);
                return (code == 13) ? false : true;
            });
      });

      $("#table_demanda td").on('click', function(){
          var row_num;
          var v_float;
          var v_lote;
          var v_codigo;
          row_num = parseInt( $(this).parent().index() )+1;
          v_float = document.getElementById("table_demanda").rows[row_num].cells[2].innerHTML;
          v_lote  = document.getElementById("table_demanda").rows[row_num].cells[3].innerHTML;
          v_codigo = document.getElementById("table_demanda").rows[row_num].cells[0].innerHTML;
          $("#id_dem_in_codigo").val(v_codigo);
          $("#numpadButton").val(v_float);
          $("#id_dem_re_qtdlote").val(v_float);
          $("#id_dem_st_lote").val(v_lote);
      });
      $('#numpadButton').on('change', function() {
         $("#id_dem_re_qtdlote").val($(this).val());
      });
      $('#id_dem_st_lote').on('change', function() {
          var v_saldo = 0;
          var v_lote = $(this).val()
          v_saldo = getSaldoLote(filial,v_lote)
          v_float = 9999.000
          $("#numpadButton").val(v_float);
          $("#id_dem_re_qtdlote").val(v_float);
      });
      //busca saldo no estoque
      function getSaldoLote(pFilial, pLote) {
          var v_saldo;
          v_http = 'http://'+v_ip+'/api/get_saldolote/?filial='+pFilial+'&lote='+pLote
          v_json = httpGet(v_http);
          v_Return = JSON.parse(v_json);
          for (var i = 0, len = v_Return.length; i < len; ++i) {
              alert(v_Return[i]);
              v_saldo = JSON.parse(v_Return[i].MVS_RE_QUANTIDADE);
          }
          return v_saldo;
      }
      function httpGet(theUrl) {
          let xmlHttpReq = new XMLHttpRequest();
          xmlHttpReq.open("GET", theUrl, false);
          xmlHttpReq.send(null);
          return xmlHttpReq.responseText;
      }
 </script>
 {% endblock %}